[run]
source =
    src
    plugins/translation/utils.py
    plugins/translation/src
    plugins/translation/plugin.py
    plugins/prompt/src
    plugins/prompt/plugin.py

[report]
omit =
    plugins/*/tests/*
    plugins/*/conftest.py
